$white-color: white;
$boxs-background: #f44336;
$moodList-background: #9e9e9e;
$color-XO: #ffec3d;
$reset-background: #009485;
$Settings-background: #79554866;
$options-background: #607c8a;
$balck-color: black;