* {
    box-sizing:border-box;
}

body {
    margin: 0;
    margin-top: -5px;
}

.moodList {
    width: 100%;
    height: 100%;
    background-color: #9E9E9E;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    background-color: #f44336;
    font-weight: bold;
    font-size: 25px;
    border: none;
    cursor: pointer;
    height: 80px;
    width: 125px;
    margin: 2px;
}

.game {
    color: white;
    margin: auto;
    width: 255px;
    font-weight: 500;
    padding-top: 10px;
    position: relative;
}

.title {
    background-color: #f44336;
    padding: 5px 0;
    margin: 5px 0;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #ffeb3b;
    margin-right: 7px;
}

.boxs {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 80px;
    height: 80px;
    background-color: #f44336;
    margin: 2px;
    font-size: 60px;
    cursor: pointer;
    text-align: center;
}

.box.done {
    pointer-events: none;
}

.game .reset {
    background: #009688;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.Settings {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: fixed;
    background-color: #79554866;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: none;
}

.Settings .Options {
    background-color: #607D8B;
    padding: 45px 0;
    width: 300px;
    position: relative;
}

.Settings .Options .reset {
    background: #009688;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.Settings .Options .leave {
    background: #F44336;;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.Settings .Options span {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background-color: #F44336;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-bottom: 5px;
}

.SettingsIcon {
    color: black;
    font-size: 20px;
    cursor: pointer;
}
